body {
	background-size: cover;
	background-position: center;
	background-image: url("./img/nature-4837517_1920.jpg");
}
.app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.phone {
	width: 600px;
	padding: 20px;
	border: 16px solid #333;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.phone h1 {
	font-family: "Silkscreen", sans-serif;
}
